
    
#form {
  margin: 0 auto;
  padding: 30px 15px;
  border-radius: 5px;
  text-align: center;
  background-color: #edf0f5;
  width: 50%;
  width: 250px;
  }
#sign {
  text-align: left; }
form {
  width: 450px; margin-bottom: 50px;
}
#firstname {float: left; width:100px}
#lastname {float: left; width: 100px;}
#email{ float: left; margin-top:-10px; width: 208px;}
#reenteremail {float: left; width: 208px;}
#NewPassword {float: left; width: 208px; margin-top: -10px;}
#month{ float: left;} #day {float: left;} #year {float: left;} #why {margin-left: -200px;}
#birth {float: left;}
#Radio{margin-left: -200px; text-decoration: none;}
label {font-size: medium;}
#police{float: left; margin-left:25px;}
#sbutton {margin-left: -150px; font-size: 24px; background-color:#659d50 ;}




