#pietitle {
    text-align: center;

}
h1 {
    color: yellowgreen;
}
#Emilie {
    background-color: rgb(236, 236, 115);
}
#qanda{
    background-color: rgb(236, 236, 115);
}
#jean {
    background-color: rgb(236, 236, 115);
}

#copy {
    color:rgb(82, 71, 71)
}