#contact {
 background-color: grey;
 text-align: center;
 margin: 0, auto;
 padding: 10px;
 border-radius: 5px;
 width: 50%;
 margin-left: 560px;
 margin-right: 560px;
 padding-bottom: 25px;
 max-width: 250px;
 
 

 
 
 position:absolute;
 

 

}
body{
    background-color: dimgrey;
    color: white;
        
    
}
.navbar { background-color: white;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -8px;

}
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17px;
    
}
.navbar a:hover {
    color: blue;
}

table, th, td {
    border: 1px solid rgb(61, 57, 61);
}
#index {
    text-align: center;
}
@media screen and (max-width: 600px){
    #contact{
        margin-left: 90px;
    }
}
#table a {
    color: whitesmoke;
    
}
#viewmore a{
    background-color: white;
    border: 1px solid rgb(61, 57, 61);
}
/* portfolio magic*/
.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    width: 100%;
    height: auto;
  }
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0385b1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: .3s ease;
  }
  

  
  .container:hover .overlay {
    transform: scale(1);
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  li a{
    color: beige;
    text-decoration:none;
  }
  li a:hover{
    color: blueviolet;
  }
  #Jayden{
    background-color: rgb(61, 57, 61);
    width: 100%;
    height: 100%;
    margin-top: -21px;
    margin:0, auto;
  }
  /* credit to https://www.w3schools.com/howto/howto_js_tab_img_gallery.asp for helping me with the portfolio gallery*/