table, th, td {
    border: 1px solid rgb(159, 83, 161);
}
Th {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table {
    margin: 0 auto ;
}
Body {
    background-image: url("px870980-image-kwyo6oiw.jpg");
}
